<div class="container">
  <h1>CHECK YOUR LUCK</h1>
  <br />
  <div class="row">
    <div class="col-sm-4">
      <p class="para">Attempts: {{ attempts }} / 10</p>
    </div>

    <div class="col-sm-4"></div>

    <div class="col-sm-4">
      <p class="score para">LuckyAttempts : {{ luckyAttempt }}</p>
      <br />
      <p class="score para">WorngAttempts : {{ worngAttempt }}</p>
    </div>
  </div>

  <br />
  <div class="row ">
    <p class="para" style="text-align: center;">
      Guess the Number <span class="number">{{ selectedNumber }}</span>
    </p>
  </div>

  <div class="row ">
    <div
      [ngClass]="{
        'col-sm-4': attempts !== 10 || attempts == 10,
        box: attempts !== 10 || attempts === 10,
        disablePointer: attempts === 10,
        bggreen: selectedNumber === guess1 && guessNumber === guess1
      }"
      (click)="onClick(guess1)"
    >
      <p class="centreText" style="color: black;" *ngIf="!clickedCard">
        ?
      </p>
      <p class="centreText" *ngIf="clickedCard">{{ guess1 }}</p>
    </div>

    <div
      [ngClass]="{
        'col-sm-4': attempts !== 10 || attempts == 10,
        box: attempts !== 10 || attempts === 10,
        disablePointer: attempts === 10,
        bggreen: selectedNumber === guess2 && guessNumber === guess2
      }"
      (click)="onClick(guess2)"
    >
      <p class="centreText" style="color: black;" *ngIf="!clickedCard">?</p>
      <p class="centreText" *ngIf="clickedCard">{{ guess2 }}</p>
    </div>

    <div
      [ngClass]="{
        'col-sm-4': attempts !== 10 || attempts == 10,
        box: attempts !== 10 || attempts === 10,
        disablePointer: attempts === 10,
        bggreen: selectedNumber === guess3 && guessNumber === guess3
      }"
      (click)="onClick(guess3)"
    >
      <p class="centreText" style="color: black;" *ngIf="!clickedCard">?</p>
      <p class="centreText" *ngIf="clickedCard">{{ guess3 }}</p>
    </div>
  </div>

  <div class="row" *ngIf="attempts === 10">
    <p class="para">Result : {{ result }}</p>
    <p class="para">Your Score : {{ luckyAttempt }}</p>
  </div>

  <div class="row shift" *ngIf="message">
    <p class="para ">{{ message }}</p>
    <p class="shiftButton" (click)="gameReset()" class="btn btn-danger">
      Reset
    </p>
  </div>
  <
</div>

<app-footer></app-footer>
